.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    line-height: 75px;

    a {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
