$screen-xs-max: 768px;
.header {
    position: relative;
    color: white;
    height: 360px;
    padding-top: 45px;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-color: #048aa9;

    .container {
        height: 360px - 45px;
        display: flex;
        /* padding-top: 30px; */
    }

    h1 {
        padding: 0;
        margin: 0;
        font-size: 30px;
        position: absolute;
        left: 0;
        top: 0;
    }

    a {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid white;
        border-radius: 3px;
        text-transform: uppercase;
        line-height: 30px;
        height: 30px;
        padding: 0 20px;
        color: white;
        text-decoration: none;
        display: inline-block;
        &:hover {
            background-color: rgba(white, 0.1);
        }
        @media (max-width: $screen-xs-max) {
            padding: 0 10px;
        }
    }
}

.lead {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 38px;
    line-height: 50px;

    small {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }

    @media (max-width: $screen-xs-max) {
        font-size: 20px;
        line-height: 28px;
        padding: 0 20px;
        small {
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
        }
    }
}
