.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.sr-only {
    /* yeah yeah */
    display: none;
}

.clearfix {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}
